
/* 	Global styles
/* ======================================= */

* {
	box-sizing: border-box;
}

body, html {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
}

.section, .inner {
    display: block;
    position: relative;
    width: 100%;
}

.inner {
    max-width: 1080px;
}

canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;

    &.nocursor {
        cursor: none;
    }
}

.cards {
    position: relative;
    margin: 0;
    padding: 32px;
    display: block;
}

.card {
    position: relative;
    color: white;
    border-radius: 3px;
    width: 64px;
    height: 128px;
    // background: #bdc3c7;
    transform-style: preserve-3d;
    perspective: 300px;

    .a,
    .b,
    .c {
        position: absolute;
        display: block;
        width: 64px;
        height: 64px;
        left: 0;
        top: 0;
        transform-origin: 50% 100%;
        transition: transform 0.3s ease-out;
        border-radius: 4px 4px 0px 0px;
        overflow: hidden;

        .front,
        .back {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;            
            padding: 22px;
            // backface-visibility: hidden;
        }

        .front {
            transform: translate3d(0, 0, 0) rotateX(0deg);
        }

        .back {
            transform: translate3d(0, 0, 0) rotateX(180deg);    
        }
    }

    .a {
        .front {
            background: #2ecc71;
        }

        .back {
            background: #27ae60;
        }
    }

    .b {
        .front {
            background: #f1c40f;
        }

        .back {
            background: #f39c12;
        }
    }

    .c {
        .front {
            background: #3498db;
        }

        .back {
            background: #2980b9;
        }
    }

    .top {

    }

    .bottom {

    }

}

.cards {
    &.show-a {
        .a {
            transform: translate3d(0, 0, 1px) rotateX(0deg);
        }
        .b {
            transform: translate3d(0, 0, 1px) rotateX(180deg);
        }
        .c {
            transform: translate3d(0, 0, -1px) rotateX(0deg);
        }
    }

    &.rotate-a {
        .a {
            transform: translate3d(0, 0, 1px) rotateX(-179deg);
        }
    }
}