
/* 	Global styles
/* ======================================= */

* {
	box-sizing: border-box;
}

body, html {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
}

.section, .inner {
    display: block;
    position: relative;
    width: 100%;
}

.inner {
    max-width: 1080px;
}

canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;

    &.nocursor {
        cursor: none;
    }
}

.cards {
    position: relative;
    margin: 0;
    padding: 32px;
    display: block;
}

.card {
    position: relative;
    color: white;
    display: inline-block;
    margin: 0 16px;
    border-radius: 3px;
    width: 64px;
    height: 128px;
    // background: #bdc3c7;
    transform-style: preserve-3d;
    perspective: 300px;

    .a,
    .b,
    .c {
        position: absolute;
        display: block;
        width: 64px;
        height: 64px;
        left: 0;
        top: 0;
        transform-origin: 50% 100%;
        transition: transform 0.3s ease-out;
        border-radius: 4px 4px 0px 0px;
        backface-visibility: visible;
        transform-style: preserve-3d;
        perspective: 300px;
        text-align: center;
        
        .front,
        .back {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;            
            backface-visibility: hidden;
            transform-style: preserve-3d;
            transform: rotateX(0deg);
            overflow: hidden;
            font-size: 64px;
        }

        .front {
            .num {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 36%;
            }
        }

        .back {
            .num {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: -64%;
            }
            transform: rotateX(180deg);    
        }
    }

    .a {
        .front {
            background: linear-gradient(#2ecc71, darken(#2ecc71, 10%));
        }

        .back {
            background: linear-gradient(darken(#27ae60, 10%), #27ae60);
        }
    }

    .b {
        .front {
            background: linear-gradient(#f1c40f, darken(#f1c40f, 10%));
        }

        .back {
            background: linear-gradient(darken(#f39c12, 10%), #f39c12);
        }
    }

    .c {
        .front {
            background: linear-gradient(#3498db, darken(#3498db, 10%));
        }

        .back {
            background: linear-gradient(darken(#2980b9, 10%), #2980b9);
        }
    }

    .top {

    }

    .bottom {

    }

}

.cards {
    .a, .b, .c {
        &.top {
            transform: translate3d(0, 0, 1px) rotateX(0deg);
        }   
        &.bottom {
            transform: translate3d(0, 0, 1px) rotateX(180deg);
        }
        &.back
            transform: translate3d(0, 0, -1px) rotateX(0deg);
        }
    }
}